* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

label {
    font-size: 15px;
}

#forms {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button {
    width: 100px;
    margin-top: 10px;
}

#modal {
    position: fixed;
    right: 40vw;
    bottom: 40vh;
    border: 2px solid #000;
    box-shadow: 0px 0px 2px 2px #000;
    background-color: rgba(0,0,255,0.5);
    z-index: 1;
}

.opacity {
    opacity: 0.3;
    background-color: rgba(0,255,0,1);
}